<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script src="jquery.js"></script>
    <script src="vue.js"></script>
    <script src="ModuleLoader.js"></script>
    <script src="FastHttpApi.js"></script>
    <script src="AdminController.js"></script>
    <script src="bootstrap.js"></script>
    <script src="md5.js"></script>
    <title>FastHttpApi后台服务管理</title>
    <style>
        .values {
            min-width: 120px;
            text-align: right;
        }

        .valueLabel {
            display: inline-block;
            min-width: 100px;
            text-align: right;
        }

        
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" slot="header">

        </div>
    </div>
    <div class="container bs-docs-container" style="padding-top:60px;">
        <div slot="mainBar">
        </div>
        <div class="row" style="padding-top:4px;">
            <div style="text-align:center;margin:auto;width:600px">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">服务状态</div>
                        <div class="panel-body">

                            <div id="serverStatus">
                                <p><span class="valueLabel">服务名称:</span> <span class="badge values">{{Data.Name}}</span></p>
                                <p>
                                    <span class="valueLabel">服务地址:</span> <span class="badge values">{{Data.Host}}@{{Data.Port}}</span>
                                    <span class="valueLabel">运行时长:</span><span class="badge values">{{Data.RunTime}}</span>
                                </p>
                                <p>
                                    <span class="valueLabel">在线连接:</span> <span class="badge values">{{Data.Count}}</span>
                                    <span class="valueLabel">处理请求数:</span><span class="badge values">{{Data.Request}}</span>
                                </p>

                                <p>
                                    <span class="valueLabel">接收IO数:</span>
                                    <span class="badge values">{{Data.ReceiveQuantity}}</span>
                                    <span class="valueLabel">接收字节数:</span>
                                    <span class="badge values">{{Data.ReceivBytes}}</span>
                                </p>
                                <p>
                                <p>
                                    <span class="valueLabel">发送IO数:</span>
                                    <span class="badge values">{{Data.SendQuantity}}</span>
                                    <span class="valueLabel">发送字节数:</span>
                                    <span class="badge values">{{Data.SendBytes}}</span>
                                </p>

                            </div>
                        </div>
                    </div>


                </div>

                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">信息设置</div>
                        <div class="panel-body">
                            <form class="form-horizontal" id="setting">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">最大连接数</label>
                                    <div class="col-sm-5">
                                        <input type="number" v-model:value="MaxConn" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">WS秒最大请求数</label>
                                    <div class="col-sm-5">
                                        <input type="number" v-model:value="WSMaxRPS" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">日志级别</label>
                                    <div class="col-sm-5">
                                        <select v-model:value="LogLevel" class="form-control">
                                            <option value="All">All</option>
                                            <option value="Trace">Trace</option>
                                            <option value="Debug">Debug</option>
                                            <option value="Info">Info</option>
                                            <option value="Warring">Warring</option>
                                            <option value="Error">Error</option>
                                            <option value="Fatal">Fatal</option>
                                            <option value="Off">Off</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">日志是否写文件</label>
                                    <div class="col-sm-5">
                                        <input type="checkbox" v-model:value="WriteLog" class="checkbox">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">日志输出Console</label>
                                    <div class="col-sm-5">
                                        <input type="checkbox" v-model:value="LogToConsole" class="checkbox">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="button" onclick="UpSetting()" class="btn btn-default">设置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container" style="color:aliceblue;text-align:center;" slot="footer">
        </div>
    </div>
    <script>
        var statusControl;
        var settingControl;
        var lstLogControl;

        var logs = new Array();
        var setting = {
            MaxConn: 0,
            WSMaxRPS: 0,
            LogLevel: '',
            LogToConsole: true,
            WriteLog: false
        }
        api_receive(function (data) {

            if (data.Data.LogType) {

                logs.splice(0, 0, data.Data);
                if (logs.length > 500)
                    logs.pop();

            }
        });
        $(document).ready(function () {
            statusControl = new Vue({ el: '#serverStatus', data: { Data: {} } });
            settingControl = new Vue({ el: '#setting', data: setting });
            lstLogControl = new Vue({ el: '#lstLog', data: { Data: logs } });
            GetStatus();
            GetSettingInfo();
            setInterval(GetStatus, 2000);
        });
        async function LogConnect() {
            var result = await $_admin$LogConnect();
            if (result.Code == 403)
                window.location.href = result.Data;
        }
        async function LogDisConnect() {
            var result = await $_admin$LogDisConnect();
            if (result.Code == 403)
                window.location.href = result.Data;
        }

        async function GetSettingInfo() {
            var result = await $_admin$GetSettingInfo();
            if (result.Code == 403)
                window.location.href = result.Data;
            setting.MaxConn = result.Data.MaxConn;
            setting.WSMaxRPS = result.Data.WSMaxRPS;
            setting.LogLevel = result.Data.LogLevel;
            setting.LogToConsole = result.Data.LogToConsole;
            setting.WriteLog = result.Data.WriteLog;
        }

        async function UpSetting() {
            if (confirm('是否要更改设置？')) {
                var result = await $_admin$Setting(setting);
                if (result.Code == 403)
                    window.location.href = result.Data;
                if (result.Code == 200)
                    alert('设置成功');
            }
        }
        async function GetStatus() {
            var result = await $_admin$GetServerInfo();
            if (result.Code == 403)
                window.location.href = result.Data;
            statusControl.Data = result.Data;

        }
    </script>
</body>
</html>