body {
    display: block;
    margin: 0;
    padding-bottom: 50px;
    overflow-y: scroll;
    background-size: cover;
}

#page {
    min-height: 100%;
}
.upload-bar{
    border-style:inset;
    border-color:#e4f5fc;
    border-width:1px;
    overflow:hidden;
    padding:2px;
    margin:4px;
}
.uploadstats-bar {
    background: #e4f5fc;
    background: -moz-linear-gradient(left, #e4f5fc 0%, #2ab0ed 100%);
    background: -webkit-linear-gradient(left, #e4f5fc 0%,#2ab0ed 100%);
    background: linear-gradient(to right, #e4f5fc 0%,#2ab0ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 );
  
  
  
    box-shadow: 1px,1px,2px,#808080;
    padding-left: 10px;
    text-align: left;
    white-space: nowrap;
}
