body {
    display: block;
    margin: 0;
    padding-bottom: 50px;
    overflow-y: scroll;
    background-size: cover;
}

#page {
    min-height: 100%;
}
.message {
    border-radius: 8px;
  padding:2px;
  padding-left:10px;
  padding-right:10px;
  margin:4px;
  margin-bottom:10px;
    box-shadow: 1px 0px 2px #808080;
}
.message h4{
    font-size:12pt;
}
.message span
{
    margin-right:4px;
}