<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <title>
    </title>
</head>
<body>
    <div class="container bs-docs-container">
        <div class="row">
            <br />
            <div class="col-md-9" role="main">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">Orders</a></li>
                    <li role="presentation"><a href="/Employees.html">Employees</a></li>
                </ul>
                <h2>Employee</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>HomePhone</th>
                                </tr>
                            </thead>
                            <tbody id="lstbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $.get("/ListEmployees", function (e) {
            var items = new Array();
            items = e;
            $('#lstbody').empty();
            items.forEach(function (v, i) {
                $('#lstbody').append('<tr><td>' + i + '</td><td><a href="EmployeeEditor.html?id=' + v.EmployeeID + '">'
                    + v.FirstName + '</a></td><td>' + v.LastName + '</td><td>' + v.Address + '</td><td>' + v.City + '</td><td>'
                    + v.HomePhone + '</td></tr>');
            });
        });
    });
</script>
</html>