<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <title>FastHttpApi WebApplication</title>
</head>
<body>

    <div class="container bs-docs-container">
        <div class="row">
            <br />
            <div class="col-md-9" role="main">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">Orders</a></li>
                    <li role="presentation"><a href="/Employees.html">Employees</a></li>
                </ul>
                <h2>Orders</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Employee:</label>
                                <select id="lstEmployees" style="margin:5px;">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Customer:</label>
                                <select id="lstCustomers" style="margin:5px;">
                                    <option value=""></option>
                                </select>
                            </div>
                            <button type="button" onclick="search()" class="btn btn-default">Search</button>
                        </form>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>OrderID</th>
                                    <th>ShipName</th>
                                    <th>ShipAddress</th>
                                    <th>City</th>
                                    <th>OrderDate</th>
                                </tr>
                            </thead>
                            <tbody id="lstbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $.get("/GetEmployeesName", function (items) {
            var a = new Array();
            a = items;
            a.forEach(function (v, i) {
                $('#lstEmployees').append(' <option value="' + v.ID + '">' + v.Name + '</option>')
            });
        });
        $.get("/GetCustomersName", function (items) {
            var a = new Array();
            a = items;
            a.forEach(function (v, i) {
                $('#lstCustomers').append(' <option value="' + v.ID + '">' + v.Name + '</option>')
            });
        });
        search();
    });
    function search() {
        $.get('/listorders?employeeid=' + $('#lstEmployees').val() + "&customerid=" + $('#lstCustomers').val(), function (items) {
            var a = new Array();
            a = items;
            $("#lstbody").empty();
            a.forEach(function (v, i) {
                $("#lstbody").append('<tr><td>' + i + '</td><td>' + v.OrderID + '</td><td>' + v.ShipName + '</td><td>' + v.ShipAddress + '</td><td>' + v.ShipCity + '</td><td>' + v.OrderDate + '</td></tr>')
            });
        });
    }
</script>
</html>